body {
    background-color: white;
}

h1 {
    color: #440044;
    text-align: center;
}

p {
  font-family: Verdana, sans-serif;
}

#outer {
  white-space: nowrap;
  display: block;
  width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.information {
  background-color: lightgray;
  width: 300px;
  height: 650px;
  padding: 10px;
  color: #006666;
  float: left;
  display: inline-block;
  white-space: normal;
}

.flowchart {
  display: inline-block;
}

.column {
  padding: 20px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  white-space: normal;
  height: 650px;
}

.column-title {
  display: none;
}

.arrow-column {
  padding: 0px;
  margin:auto;
  display: inline-block;
}

.bubble {
  border-radius: 25px;
  width: 140px;
  height: 80px;
  background-color: #50C6DC;
  color: white;
  margin-bottom: 15px;
  margin-top: 4px;
  text-align: center;
  display: table;
  padding: 5px;
}

.bubble:hover {
  filter: opacity(60%);
}

.bubble p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Different bubble type color variations */
.empty {
  visibility: hidden;
  height: auto;
}

.default:hover {
  filter: opacity(100%);
}

.preprocess {
  background-color: #00AEA0;
  cursor: pointer;
}
.offerprocess {
  background-color: #50C6DC;
  cursor: pointer;
}
.postprocess {
  background-color: #623090;
  cursor: pointer;
}
.selected {
  background-color: gray;
}
.selected:hover {
  filter: opacity(100%);
}

.arrow-bubble {
  margin-bottom: 0px;
}

.vertical-arrow {
  width: 120px;
  font-size: 300%;
  line-height: 32px;
  margin:0px;
  display: table;
  vertical-align: middle;
  text-align: center;
}

.vertical-arrow p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.horizontal-arrow {
  text-align: center;
  font-size: 300%;
  margin:0px;
  line-height:50px;
  display: table;
}

.contents {
  display: none;
}
.dropdown {
  display: none;
}

/* CSS changes on smaller screens */
@media only screen and (max-width: 900px) {
  #outer {
    white-space: normal;
    display: block;
    margin: auto 0px;
    width:100%;
  }
  body {
      background-color: white;
  }

  .bubble {
    border: 0px solid white;
    margin: auto;
    margin-top: 10px;
    width: 95%;
    font-size: 200%;
  }

  .contents {
    border-radius: 5px;
    margin: auto;
    width: 85%;
    background-color: lightgray;
    font-size: 125%;
    padding: 20px;
  }

  .column-title {
    display: table;
    border: 0px solid white;
    margin: auto;
    margin-top: 10px;
    width: 95%;
    font-size: 200%;
    border-radius: 25px;
    color: white;
    text-align: center;
    display: table;
    padding: 5px;
  }

  .information {
    display: none;
  }

  .flowchart {
    display: none;
  }

  .dropdown {
    display: inline;
  }
}
