body {
    background-color: white;
}

h1 {
    color: #440044;
    text-align: center;
}

p {
  font-family: Verdana, sans-serif;
}

.information {
  background-color: lightgray;
  width: 300px;
  height: 500px;
  padding: 10px;
  color: #006666;
  float: left;
}

.column {
  float: left;
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.column-title {
  display: none;
}

.arrow-column {
  padding: 0px;
  margin:auto;
}

.bubble {
  border-radius: 25px;
  width: 120px;
  height: 80px;
  background-color: #00dddd;
  color: white;
  margin-bottom: 15px;
  margin-top: 4px;
  text-align: center;
  display: table;
  padding: 5px;
}

.bubble:hover {
  filter: opacity(60%);
}

.bubble p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Different bubble type color variations */
.empty {
  visibility: hidden;
  height: auto;
}

.default:hover {
  filter: opacity(100%);
}

.default p {
  color: black;
}
.preprocess {
  background-color: #006666;
}
.offerprocess {
  background-color: #00dddd;
}
.postprocess {
  background-color: #440044;
}
.selected {
  filter: grayscale(90%);
}
.selected:hover {
  filter: grayscale(90%);
}

.arrow-bubble {
  margin-bottom: 0px;
}

.vertical-arrow {
  text-align: center;
  font-size: 300%;
  line-height: 32px;
  margin:0px;
}

.horizontal-arrow {
  text-align: center;
  font-size: 300%;
  margin:0px;
  line-height:50px;
}

.contents {
  display: none;
}
.dropdown {
  display: none;
}


/* CSS changes on smaller screens */
@media only screen and (max-width: 900px) {
  body {
      background-color: white;
  }

  .bubble {
    border: 0px solid white;
    margin: auto;
    margin-top: 10px;
    width: 95%;
    font-size: 200%;
  }

  .contents {
    border-radius: 5px;
    margin: auto;
    width: 85%;
    background-color: lightgray;
    font-size: 125%;
    padding: 20px;
  }

  .column-title {
    display: table;
    border: 0px solid white;
    margin: auto;
    margin-top: 10px;
    width: 95%;
    font-size: 200%;
    border-radius: 25px;
    color: white;
    text-align: center;
    display: table;
    padding: 5px;
  }

  .information {
    display: none;
  }

  .column {
      float: none;
      padding: 0px;
  }

  .empty {
    display: none;
  }

  .vertical-arrow {
    display: none;
  }

  .horizontal-arrow {
    display: none;
  }

  .flowchart {
    display: none;
  }
  .dropdown {
    display: inline;
  }
}
