body {
  background-color: white;
  font-family: Verdana, sans-serif
}

h1 {
  color: white;
  text-align: center;
}

#outer {
  white-space: nowrap;
  display: block;
  margin: 0 auto;
  zoom: 0.7;
  -moz-transform: translate(0px, 0px);
  transform-origin: top left;
}

.information {
  margin-left: 3%;
  width: 20%;
  padding: 15px;
  color: white;
  float: left;
  display: block;
  white-space: normal;
  border-radius: 25px;
  background-color: #009999;
  margin-right: 10px;
  text-align: justify;
}
.information p {
  padding: 10px;
}
.information li {
  text-align: left;
}
.information a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-align: left;
}
.information a:visited {
  color: white;
}
.information a:hover {
  text-decoration: underline;
  color: lightgray;
}

.flowchart {
  display: inline-block;
}

.column {
  padding: 20px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  white-space: normal;
  height: 650px;
}

.column-title {
  display: none;
}

.arrow-column {
  padding: 0px;
  margin:auto;
  display: inline-block;
}

.bubble {
  border-radius: 25px;
  width: 140px;
  height: 80px;
  background-color: #50C6DC;
  color: white;
  margin-bottom: 15px;
  margin-top: 4px;
  text-align: center;
  display: table;
  padding: 5px;
}

.bubble:hover {
  filter: opacity(60%);
}

.bubble p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Different bubble type color variations */
.empty {
  visibility: hidden;
  height: auto;
}

.default:hover {
  filter: opacity(100%);
}

.preprocess {
  background-color: #009999;
  cursor: pointer;
}
.offerprocess {
  background-color: #FF406C;
  cursor: pointer;
}
.postprocess {
  background-color: #440044;
  cursor: pointer;
}
.selected {
  filter: opacity(60%);
}
.selected:hover {
  filter: opacity(60%);
}

.arrow-bubble {
  margin-bottom: 0px;
}

.vertical-arrow {
  width: 140px;
  font-size: 300%;
  line-height: 32px;
  margin:0px;
  display: table;
  vertical-align: middle;
  text-align: center;
  color: black;
}

.vertical-arrow p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: black;
}

.horizontal-arrow {
  text-align: center;
  font-size: 300%;
  margin:0px;
  line-height:50px;
  display: table;
  color: black;
}

.contents {
  display: none;
}

.name {
  display: none;
}

.dropdown {
  display: none;
}

/* CSS changes on smaller screens */
@media only screen and (max-width: 900px) {
  #outer {
    white-space: normal;
    display: block;
    margin: auto 0px;
    width:100%;
    zoom:1;
  }
  body {
      background-color: white;
  }

  .bubble {
    border: 0px solid white;
    margin: auto;
    margin-top: 10px;
    width: 95%;
    font-size: 200%;
  }

  .contents {
    border-radius: 5px;
    margin: auto;
    width: 85%;
    background-color: lightgray;
    font-size: 125%;
    padding: 20px;
  }

  .column-title {
    display: table;
    border: 0px solid white;
    margin: auto;
    margin-top: 10px;
    width: 95%;
    font-size: 200%;
    border-radius: 25px;
    color: white;
    text-align: center;
    display: table;
    padding: 5px;
  }

  .information {
    display: none;
  }

  .flowchart {
    display: none;
  }

  .dropdown {
    display: inline;
  }
}
